*
    box-sizing: border-box
    padding: 0
    margin: 0
    list-style: none
    text-decoration: none
    font-family: system-ui
    color: #495057
    outline: none

// CONTAINER
.container,.container-fluid,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl
    width: 100%
    padding-right: var(--bs-gutter-x,.75rem)
    padding-left: var(--bs-gutter-x,.75rem)
    margin-right: auto
    margin-left: auto

@media (min-width: 576px)
    .container,.container-sm
        max-width: 540px

@media (min-width: 768px)
    .container,.container-md,.container-sm
        max-width: 720px

@media (min-width: 992px)
    .container,.container-lg,.container-md,.container-sm
        max-width: 960px

@media (min-width: 1200px)
    .container,.container-lg,.container-md,.container-sm,.container-xl
        max-width: 1140px

@media (min-width: 1400px)
    .container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl
        max-width: 1320px

// Отступы
section, .section-group
    margin-top: 30px

.mt-1
    margin-top: 1rem

// Разное
ul.list-style-inside
    li
        list-style: inside
