.table
    caption-side: bottom
    border-collapse: collapse
    width: 100%
    &-container
        overflow: auto
        max-height: calc(100vh - 200px)
    thead
        vertical-align: bottom
    tr
        border-color: inherit
        border-style: solid
        border-width: 0

        th
            border-bottom-color: #e9e9ef
            font-weight: 500
            text-align: left
        td,th
            padding: 0.75rem 0.75rem
            border-bottom: 1px solid #e9e9ef
